/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    width: 260px;
    transition: .4s ease-in-out;
    min-height: 100vh;
    z-index: 1000;
}

.sidebar.hide {
    left: -260px;
}

.sidebar.show {
    left: 0;
}

.sidebar.dark {
    background: #212525;
}

.sidebar.light {
    background: #f8f8f8;
}

.title-color.dark {
    color: #4f5353;
}

.title-color.light {
    color: #cbcbcb;
}

.toggle-show {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 35px;
    height: 35px;
    border-radius: 8px;
    cursor: pointer;
    transition: .4s ease-in-out;
}

.toggle-show.dark {
    box-shadow: 0 1px 16px rgba(255, 255, 255, .1);
    background: #212525;
}

.toggle-show.light {
    box-shadow: 0 1px 16px rgba(0, 0, 0, .1);
    background: #f8f8f8;
}

.toggle-show.hide {
    right: -3rem;
}

.toggle-show.show {
    right: -1rem;
}

.icon-arrow {
    transition: .4s cubic-bezier(0.25, 1, 0.5, 1);
}

.icon-arrow.hide{
    transform: rotate(-180deg);
}

.icon-arrow.show{
    transform: rotate(0);
}

.nav-custome {
    padding: .5rem;
    border-radius: 8px;
}

.nav-custome.dark.active,
.nav-custome.dark:hover {
    background: #2a3238;
}

.nav-custome.light.active,
.nav-custome.light:hover {
    background: #e8e8e8;
}

/* Main - Outlet */
.main {
    min-height: 100vh;
    margin-top: 70px;
    transition: margin-left .4s ease-in-out;
}

.main.hide {
    margin-left: 0;
}

.main.show {
    margin-left: 260px;
}

.main.dark {
    background: #212525;
}

.main.light {
    background: #f8f8f8;
}

@media screen and (max-width: 998px) {
    .sidebar {
        width: 240px;
    }

    .sidebar.hide {
        left: 0;
    }

    .sidebar.show {
        left: -240px;
    }

    .main.hide {
        margin-left: 240px;
    }

    .main.show {
        margin-left: 0;
    }

    .toggle-show.hide {
        right: -1rem;
    }

    .toggle-show.show {
        right: -3rem;
    }
}