$primary-light: blue; // for light mode
$primary-dark: yellow; // for dark mode

// Default to light mode
$primary: blue; // Set default primary color

[data-theme='dark'] {
  $primary: yellow;// Change to yellow for dark mode
}

// example usage
.btn-primary {
  background-color: $primary !important; // Set the background to the primary color
}